.btn b{
   border-radius: 2px;
   border-color: #4776E6;
    

    
    
    ;
}
.h1{
    color: #31135E;
    font-weight: bold;
    font-size: 100px;
}
.fb{
color: rgb(206, 21, 206);
}
.pra{
    color: #505258;
}
.last{
    background-color: #4776E6;
    color:white;
}
.container 